n8n-workflow-manual.json
{
  "name": "Instagram Carousel Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Lanceur",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "topic", "value": "" },
            { "name": "angle", "value": "authentique et insolite" },
            { "name": "format", "value": "carousel" },
            { "name": "cta", "value": "Partagez en commentaire!" }
          ]
        }
      },
      "id": "set-brief",
      "name": "Brief",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.unsplash.com/search/photos",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "=Client-ID {{$VAR.UNSPLASH_KEY}}" }]
        },
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{$json.topic}}" },
            { "name": "per_page", "value": 5 }
          ]
        }
      },
      "id": "unsplash",
      "name": "Recherche Unsplash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst results = data.results || [];\nif (results.length === 0) return [{ json: {} }];\n\nconst best = results.reduce((a, b) => (a.likes||0) > (b.likes||0) ? a : b, results[0]);\n\nreturn [{\n  json: {\n    image_url: best.urls?.regular,\n    author: best.user?.name,\n    topic: data.topic\n  }\n}];"
      },
      "id": "best-photo",
      "name": "Meilleure Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$VAR.GROQ_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "llama-3.1-8b-instant" },
            { "name": "messages", "value": "[{\"role\":\"system\",\"content\":\"Tu génères des carrousels Instagram. JSON ONLY.\"},{\"role\":\"user\",\"content\":\"Génère carrousel 5 slides sur: {{$json.topic}}. JSON.\"}]" }
          ]
        }
      },
      "id": "groq",
      "name": "Génère Contenu (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.choices?.[0]?.message?.content || '{}';\nlet parsed = {};\ntry { parsed = JSON.parse(content); } catch {}\n\nreturn [{\n  json: {\n    ...parsed,\n    topic: $input.all()[1].json.topic,\n    image_url: $input.all()[2].json.image_url\n  }\n}];"
      },
      "id": "parse-json",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.4,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "url": "={{$VAR.SUPABASE_URL}}/rest/v1/instagram_drafts",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$VAR.SUPABASE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "topic", "value": "={{$json.topic}}" },
            { "name": "slides", "value": "={{JSON.stringify($json.slides)}}" },
            { "name": "caption", "value": "={{$json.caption}}" },
            { "name": "unsplash_image_url", "value": "={{$json.image_url}}" },
            { "name": "status", "value": "draft" }
          ]
        }
      },
      "id": "supabase",
      "name": "Sauvegarde Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Lanceur": { "main": [[{"node": "Brief", "type": "main", "index": 0}]] },
    "Brief": { "main": [[{"node": "Recherche Unsplash", "type": "main", "index": 0}]] },
    "Recherche Unsplash": { "main": [[{"node": "Meilleure Photo", "type": "main", "index": 0}]] },
    "Meilleure Photo": { "main": [[{"node": "Génère Contenu (Groq)", "type": "main", "index": 0}]] },
    "Génère Contenu (Groq)": { "main": [[{"node": "Parse JSON", "type": "main", "index": 0}]] },
    "Parse JSON": { "main": [[{"node": "Sauvegarde Supabase", "type": "main", "index": 0}]] }
  },
  "settings": {},
  "variables": [
    { "id": "UNSPLASH_KEY", "name": "Unsplash", "type": "string", "value": "" },
    { "id": "SUPABASE_URL", "name": "Supabase", "type": "string", "value": "" },
    { "id": "SUPABASE_KEY", "name": "Supabase Key", "type": "string", "value": "" },
    { "id": "GROQ_KEY", "name": "Groq", "type": "string", "value": "" }
  ],
  "tags": [],
  "trigger": { "type": "manual" },
  "updatedAt": "2026-04-11T13:00:00Z",
  "versionId": "1"
}
