n8n-workflow-manual.json
{
  "name": "Instagram Carousel Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Lanceur",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "topic", "value": "" },
            { "name": "angle", "value": "" },
            { "name": "format", "value": "carousel" },
            { "name": "cta", "value": "" }
          ]
        }
      },
      "id": "set-brief",
      "name": "Brief",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.unsplash.com/search/photos",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "=Client-ID {{$VAR.UNSPLASH_KEY}}" }]
        },
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{$json.topic}}" },
            { "name": "per_page", "value": 5 }
          ]
        }
      },
      "id": "unsplash",
      "name": "Recherche Unsplash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst results = data.results || [];\nif (results.length === 0) return [{ json: {} }];\n\n// Photo with most likes\nconst best = results.reduce((a, b) => (a.likes||0) > (b.likes||0) ? a : b, results[0]);\n\nreturn [{\n  json: {\n    image_url: best.urls?.regular,\n    image_small: best.urls?.small,\n    author: best.user?.name,\n    author_url: best.user?.links?.html,\n    alt: best.alt_description,\n    topic: data.topic\n  }\n}];"
      },
      "id": "best-photo",
      "name": "Meilleure Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operationMode": "complete",
        "model": "llama3.1:8b",
        "messages": [
          {
            "role": "system",
            "content": "Tu génères des carrousels Instagram. topic: {{$json.topic}}, angle: {{$json.angle}}"
          },
          {
            "role": "user", 
            "content": "Génère un carrousel 5 slides:\n- titre accrocheur\n- 5 slides avec titre + contenu\n- caption\n- 10 hashtags\n\nJSON: {\"title\":\"\",\"slides\":[{\"title\":\"\",\"content\":\"\"}],\"caption\":\"\",\"hashtags\":[]}"
          }
        ],
        "options": {}
      },
      "id": "ollama",
      "name": "Génère Contenu (Ollama)",
      "type": "ollama.ollamaChat",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "={{$VAR.SUPABASE_URL}}/rest/v1/instagram_drafts",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$VAR.SUPABASE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "topic", "value": "={{$json.topic}}" },
            { "name": "angle", "value": "={{$json.angle}}" },
            { "name": "format", "value": "={{$json.format}}" },
            { "name": "cta", "value": "={{$json.cta}}" },
            { "name": "slides", "value": "={{$json.slides}}" },
            { "name": "image_prompt", "value": "={{$json.topic}}" },
            { "name": "unsplash_image_url", "value": "={{$json.image_url}}" },
            { "name": "unsplash_author", "value": "={{$json.author}}" },
            { "name": "unsplash_author_url", "value": "={{$json.author_url}}" },
            { "name": "unsplash_alt", "value": "={{$json.alt}}" },
            { "name": "status", "value": "draft" }
          ]
        }
      },
      "id": "supabase",
      "name": "Sauvegarde Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Lanceur": { "main": [[{"node": "Brief", "type": "main", "index": 0}]] },
    "Brief": { "main": [[{"node": "Recherche Unsplash", "type": "main", "index": 0}]] },
    "Recherche Unsplash": { "main": [[{"node": "Meilleure Photo", "type": "main", "index": 0}]] },
    "Meilleure Photo": { "main": [[{"node": "Génère Contenu (Ollama)", "type": "main", "index": 0}]] },
    "Génère Contenu (Ollama)": { "main": [[{"node": "Sauvegarde Supabase", "type": "main", "index": 0}]] }
  },
  "settings": {},
  "variables": [
    { "id": "UNSPLASH_KEY", "name": "Unsplash Access Key", "type": "string", "value": "" },
    { "id": "SUPABASE_URL", "name": "Supabase Project URL", "type": "string", "value": "" },
    { "id": "SUPABASE_KEY", "name": "Supabase Anon Key", "type": "string", "value": "" },
    { "id": "OLLAMA_URL", "name": "Ollama URL", "type": "string", "value": "http://localhost:11434" }
  ],
  "tags": [],
  "trigger": { "type": "manual" },
  "updatedAt": "2026-04-11T12:00:00Z",
  "versionId": "1"
}