n8n-instagram-workflow.json
{
  "name": "Instagram Carousel - Planifié",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 1}]
        }
      },
      "id": "schedule-trigger",
      "name": "Planificateur",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "topic", "value": "que faire a paris" },
            { "name": "angle", "value": "authentique" },
            { "name": "format", "value": "carousel" }
          ]
        }
      },
      "id": "set-brief",
      "name": "Brief",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.unsplash.com/search/photos",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "=Client-ID {{$VAR.UNSPLASH_KEY}}" }]
        },
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{$json.topic}}" },
            { "name": "per_page", "value": 5 }
          ]
        }
      },
      "id": "unsplash",
      "name": "Unsplash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nif (results.length === 0) return [{ json: {} }];\nconst best = results.reduce((a, b) => (a.likes||0) > (b.likes||0) ? a : b, results[0]);\nreturn [{ json: { image_url: best.urls?.regular, topic: $input.all()[1].json.topic } }];"
      },
      "id": "best-photo",
      "name": "Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$VAR.GROQ_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "llama-3.1-8b-instant" },
            { "name": "messages", "value": "[{\"role\":\"system\",\"content\":\"Carrousel Instagram JSON\"},{\"role\":\"user\",\"content\":\"{{$json.topic}}\"}]" }
          ]
        }
      },
      "id": "groq",
      "name": "Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "let p = {};\ntry { p = JSON.parse($input.first().json.choices?.[0]?.message?.content || '{}'); } catch {}\nreturn [{ json: { ...p, topic: $input.all()[1].json.topic, image_url: $input.all()[2].json.image_url } }];"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.4,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "url": "={{$VAR.SUPABASE_URL}}/rest/v1/instagram_drafts",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$VAR.SUPABASE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "topic", "value": "={{$json.topic}}" },
            { "name": "slides", "value": "={{JSON.stringify($json.slides)}}" },
            { "name": "status", "value": "draft" }
          ]
        }
      },
      "id": "supabase",
      "name": "Sauvegarde",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Planificateur": { "main": [[{"node": "Brief", "type": "main", "index": 0}]] },
    "Brief": { "main": [[{"node": "Unsplash", "type": "main", "index": 0}]] },
    "Unsplash": { "main": [[{"node": "Photo", "type": "main", "index": 0}]] },
    "Photo": { "main": [[{"node": "Groq", "type": "main", "index": 0}]] },
    "Groq": { "main": [[{"node": "Parse", "type": "main", "index": 0}]] },
    "Parse": { "main": [[{"node": "Sauvegarde", "type": "main", "index": 0}]] }
  },
  "variables": [
    { "id": "UNSPLASH_KEY", "name": "Unsplash", "type": "string", "value": "" },
    { "id": "SUPABASE_URL", "name": "Supabase", "type": "string", "value": "" },
    { "id": "SUPABASE_KEY", "name": "Key", "type": "string", "value": "" },
    { "id": "GROQ_KEY", "name": "Groq", "type": "string", "value": "" }
  ],
  "trigger": { "type": "schedule" },
  "updatedAt": "2026-04-11T13:00:00Z",
  "versionId": "1"
}
